<div id="side-bar">
    <clr-vertical-nav>
        <a clrVerticalNavLink routerLink="./charmander" routerLinkActive="active">Reactions</a>
        <a clrVerticalNavLink routerLink="./jigglypuff" routerLinkActive="active">Entertainment</a>
        <a clrVerticalNavLink routerLink="./pikachu" routerLinkActive="active">Sports</a>
        <a clrVerticalNavLink routerLink="./raichu" routerLinkActive="active">Stickers</a>
        <a clrVerticalNavLink routerLink="./snorlax" routerLinkActive="active">Artists</a>
    </clr-vertical-nav>
</div>