.main-container{
    background-color: #101119;
    .content-container{
        position: relative;
        .side-bar-area{
            max-width: 250px;
            position: relative;
            top: 50px;
        }
    }
    .header-6{
        width: 100%;
    }
}